*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 10fr;
}
.logo{
    grid-row: 1;
    grid-column: 1;

    font-size: 30px;
}

.sidebar{
    grid-column: 1;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.logo, .sidebar{
    background-color: rgb(13, 147, 224);
    color: white;
}

.content{
    background-color: rgb(227, 231, 231);
}

.logo{
    display: grid;
    place-items: center;
}
.sidebarul, .subsidebarul{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.sidebarul li, .subsidebarul li{
    width: 100%;
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
    list-style-type: none;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header input{
    width: 50vw;
    border:none;
    background-color: rgb(227, 231, 231);
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-shrink: 3;
}

.headericons{
    display: flex;
    align-items: center;
}

.headericons div {
    margin-left: 20px;
}

.icon{
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px;
}
.user{
    font-weight: bold;
    font-size: large;
}

.subheader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 4px 2px -2px gray;
}
.greet{
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr 5fr;
}

.usebuttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.usebuttons button{
    padding: 15px 25px;
    background-color:rgb(13, 147, 224);
    color: white;
    font-size: 18px;
    border:none;
    border-radius: 64px;
    flex: 1;
    margin: 20px;
}
.greetuser{
    grid-column: 2;
}
.greetimg{
    grid-template-columns: 1;
    grid-template-rows: 1/3;
}

.greethi{
    font-weight: bold;
    align-items: center;
    display: grid;
    align-items: center;
}
.greetuser{
    font-weight: bold;
    font-size: 25px;
}

.content{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
}
.yourprojects{
    display: grid;
}
.announcementstrending{
    background-color: rgb(181, 212, 149);
}

.projectgrid{
    display: grid;
    place-self: center;
    place-items: center;
    height: 90%;
    width: 90%;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    gap: 25px;
    margin-bottom: 40px;
}

.card{
    background-color: white;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    height: 200px;
    border-left: 10px solid rgb(255, 196, 0);
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    box-shadow: 1px 1px 3px rgb(172, 172, 172);
}
.card .title{
    font-weight: bold;
}
.cardbuttons{
    justify-self: end;
}
.desc{
    margin-top: 5px;
    font-size: 14px;
}
.yourprojects > p{
    margin-top: 45px;
    margin-left: 65px;
    font-size: 24px;
}
.announcementstrending > p{
    margin-top: 45px;
    font-size: 24px;
}

.sidegrid{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    background-color: yellow;
}
